@font-face {
    font-family: 'Backslash';
    src: url('../../assets/fonts/Backslash-RpJol.otf') format('opentype')
}

@font-face {
    font-family: 'Landasans';
    src: url('../../assets/fonts/LandasansMedium-ALJ6m.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Landasans';
    src: url('../../assets/fonts/LandasansUltraLight-qZ080.otf') format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'Momcake';
    src: url('../../assets/fonts/MomcakeBold-WyonA.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Momcake';
    src: url('../../assets/fonts/MomcakeThin-9Y6aZ.otf') format('opentype');
    font-weight: 100;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Poppins:wght@200;400&display=swap');