.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1300px;
    padding: 0 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(min-content, 1fr));
    grid-template-rows: 1fr;

    @media(max-width: 767px){
        grid-template-columns: repeat(6, minmax(min-content, 1fr));
    }
}

.main-content {
    position: relative;
    z-index: 2;
    background: white;
}

.section {
    padding: 120px 0;
    @media(max-width: 767px){
        padding: 80px 0;
    }
    @media(max-width: 500px){
        padding: 60px 0;
    }
}

.overlapped {
    &__left {
        grid-column: 1 / 8;
        grid-row: 1 / 1;
        z-index: 2;
        margin-top: 70px;
        pointer-events: none;
    }
    &__right {
        grid-column: 5 / -1;
        grid-row: 1 / 1;
        z-index: 1;
        &-image {
            width: auto;
            position: relative;

            svg {
                width: 100%;
                height: 100%;
            }
            
            .btn {
                position: absolute;
                bottom: 0;
                right: 0;
            }

            &--svg {
                height: 85vh;
                background: rgba(0,86,245, 0.5);
                border-radius: 100px;
                border-bottom-right-radius: 0;
            }
        }
    }
}

.title-bg {
    position: absolute;
    top: 27px;
    left: -53px;
    color: #bbbcbe;
    opacity: 0.2;
    font-size: 15rem;
    z-index: -1;
    letter-spacing: 10px;

    @media(max-width: 991px){
        font-size: 11rem;
        letter-spacing: 5px;
        left: -30px
    }
    @media(max-width: 767px){
        font-size: 9rem;
        letter-spacing: 4px;
    }
    @media(max-width: 500px){
        font-size: 6rem;
        letter-spacing: 2px;
        left: -20px
    }
    @media(max-width: 375px){
        font-size: 5rem;
        left: -10px;
        top: 17px;
    }
}