$pink: #ff3267;
$blue: #0056f5;
$darkblue: #151521;
$lightgrey: #bbbcbe;
$superlightgrey: rgba(187, 188, 190, 0.2);
$black: #2d2d2d;

$footer-padding: 30px;
$navbar-height: 135px;
$footer-height: calc(255px + (#{$footer-padding} * 2));