.blogs {
    padding-top: 120px;
    &__title {
        position: relative;
        &-bg {
            position: absolute;
            top: 27px;
            left: -53px;
            color: #bbbcbe;
            opacity: 0.2;
            font-size: 15rem;
            z-index: -1;
            letter-spacing: 10px;
        }
    }
    &__listing {
        margin-top: 35px;
        &.grid {
            grid-column-gap: 45px;
        }
        &-card {
            display: flex;
            flex-direction: column;
            &-image {
                width: auto;
                height: 600px;
                background: azure;
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
            &-description {
                margin-top: 30px;
                h3 {
                    margin-bottom: 25px;
                    color: $black;
                }
            }

            &.blogs__listing-card--condensed {
                grid-column: 1 / 5;
                .blogs__listing-card-image {
                    height: 800px;
                }
            }
            &.blogs__listing-card--expanded {
                grid-column: 6 / -1;
            }


            // Styling specific to blogs: positioning, styling
            &.blog-1 {
                grid-row: 1 / 2;
            }
            &.blog-2 {
                grid-row: 1 / 2;
            }
            &.blog-3 {
                grid-row: 2 / -1;
                grid-column: 1 / 7;
                align-self: end;
                position: relative;
                top: -60px;
            }
            &.blog-4 {
                grid-row: 2 / -1;
                grid-column: 8 / -1;
                align-self: end;
            }
        }
    }
}