.create-post {
    &.main-content {
        // padding-top: $navbar-height;
    }
    &__panels-left {
        background-color: $blue;
        color: white;
        .split-panels__left-description {
            hr {
                height: 3px;
                width: 80px;
                background: white;
                margin: 30px 0;
            }
            p {
                margin-bottom: 20px;
            }
        }
    }
    &__panels-right {
    }
}