.wrapper-class {
    padding: 1rem;
    border: 1px solid $lightgrey;
    max-width: 900px;
}
.editor-class {
    padding: 1rem;
    border: 1px solid $lightgrey;
}
.toolbar-class {
    border: 1px solid $lightgrey;
}

.preview {
    padding: 1rem 0;
    margin-top: 1rem;
    &__title {
        margin-bottom: 20px;
    }
    h1, h2, h3, h4, h5, h6, p {
        line-height: 1;
    }
    p {
        margin: 10px 0;
    }
    & > * {
        line-break: anywhere;
    }
    .btn {
        margin-top: 50px;
        padding: 2rem 4rem;
    }
    
}