.footer {
    background-color: $darkblue;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;

    @media(max-width: 435px){
        padding: $footer-padding 0;
    }

    & > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 30vh;
    }

    .logo-wrapper {
        margin-bottom: 50px;

        @media(max-width: 435px){
            margin-bottom: 30px;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;

        & > *:not(:last-child){
            margin-right: 30px;
        }

        @media(max-width: 435px){
            flex-direction: column;
            & > *:not(:last-child){
                margin-right: 0;
                margin-bottom: 10px;
            }
        }

        a {
            p {
                color: white;
            }
        }
    }
}