.footer {
    background-color: $darkblue;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;

    & > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 30vh;
    }

    .logo-wrapper {
        margin-bottom: 50px;
    }

    &__bottom {
        display: flex;
        align-items: center;

        & > *:not(:last-child){
            margin-right: 30px;
        }
        a {
            p {
                color: white;
            }
        }
    }
}