.form {
    margin-top: 40px;
    input {
        width: 100%;
        padding: 1rem;
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
    .btn, a.btn {
        padding: 2rem 4rem;
        margin-top: 20px;

        &:first-of-type {
            margin-right: 20px;
        }
    }
}