.header {
    height: calc(100vh + #{$navbar-height});
    padding-top: $navbar-height;
    min-height: 100%;
    background: $darkblue;
    color: #fff;

    &__left {
        grid-column: 1 / 8;
        grid-row: 1 / 1;
        z-index: 2;
        margin-top: 70px;
    }
    &__right {
        grid-column: 5 / -1;
        grid-row: 1 / 1;
        z-index: 1;

        &-image {
            height: 85vh;
            width: auto;
            background: rgba(0,86,245, 0.5);
            border-radius: 100px;
            border-bottom-right-radius: 0;
            position: relative;

            svg {
                width: 100%;
                height: 100%;
            }

            .btn {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
    &__description {
        &-author {
            margin-bottom: 20px;
        }
        &-title {
            margin-bottom: 70px;
        }
        &-text {

        }
    }
}