// Logo
.logo-wrapper {
    display: flex;
    align-items: center;
}
.logo-icon {
    background: $blue;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.logo-text {
    margin-left: 7px;
    font-weight: 900;
    color: white;
}