.navbar {
    background: transparent;
    padding: 50px 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
    & > .container {
        display: flex;
        align-items: center;
        @media(max-width: 767px){
            justify-content: space-between;
        }
    }

    // Nav items 
    &__listing {
        display: flex;
        flex: 1 0 auto;
        align-items: center;
        margin-left: 50px;
        justify-content: space-between;

        &--desktop {
            @media(max-width: 767px){
                display: none;
            }
        }

        &--mobile {
            position: absolute;
            top: $navbar-height;
            left: 0;
            flex-direction: column;
            height: calc(100% + 100px);
            width: 100%;
            background: $darkblue;
            justify-content: flex-start;
            margin-left: 0;
            .navbar__listing-item {
                margin-right: 0;
                margin-bottom: 20px;
            }
            &.hide {
                display: none;
            }
            &.show {
                display: flex;
            }
        }
    }
    &__listing-item {
        margin-right: 30px;
        font-size: 19px;
        position: relative;

        &:link, &:visited {
            color: white;
        }

        &::after {
            content: '';
            display: block;
            background: $blue;
            height: 10px;
            width: 0;
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: width .3s ease, opacity 0s ease;
        }

        &:hover, &:focus {
            &::after {
                width: 100%;
                opacity: 0.5;
            }
        }
    }

    &__toggler {
        background: $blue;
        border: 1px solid $blue;
        border-radius: 100px;
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
        @media(min-width: 768px){
            display: none;
        }

        svg {
            rect {
                fill: white;
            }
        }
    }

}

.header--fixed {
    position: absolute;
    top: 0;
    width: 100%;
}
.header--fixed.top {
    transition: none;
    transform: translateY(0);
}
.header--fixed.not-top {
    position: fixed;
    transform: translateY(-100%);
}
.header--fixed.slideDown.not-top {
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
    transform: translateY(0);
    background: white;
    .logo-text {
        color: $black;
    }
    .navbar__listing-item {
        color: $black;
    }
    .navbar__listing--mobile {
        background: white;
    }
}
.header--fixed.slideDown.top {
    transition: transform 0.3s ease-in-out;
    position: fixed;
}
.header--fixed.slideUp.not-top {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
}
.header--fixed.slideUp.top {
    transform: translateY(-100%);
    position: absolute;
}