.navbar {
    background: transparent;
    padding: 50px 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
    & > .container {
        display: flex;
    }
    // Logo
    &__logo-wrapper {
        display: flex;
        align-items: center;
    }
    &__logo-icon {
        background: $blue;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 600;
        color: white;
    }
    &__logo-text {
        margin-left: 7px;
        font-weight: 900;
        color: white;
    }

    // Nav items 
    &__listing {
        display: flex;
        flex: 1 0 auto;
        align-items: center;
        margin-left: 50px;
        justify-content: space-between;
    }
    &__listing-item {
        margin-right: 30px;
        font-size: 19px;
        position: relative;

        &:link, &:visited {
            color: white;
        }

        &::after {
            content: '';
            display: block;
            background: $blue;
            height: 10px;
            width: 0;
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: width .3s ease, opacity 0s ease;
        }

        &:hover, &:focus {
            &::after {
                width: 100%;
                opacity: 0.5;
            }
        }
    }

}

.header--fixed {
    position: absolute;
    top: 0;
    width: 100%;
}
.header--fixed.top {
    transition: none;
    transform: translateY(0);
}
.header--fixed.not-top {
    position: fixed;
    transform: translateY(-100%);
}
.header--fixed.slideDown.not-top {
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
    transform: translateY(0);
    background: white;
    .navbar__logo-text {
        color: $black;
    }
    .navbar__listing-item {
        color: $black;
    }
}
.header--fixed.slideDown.top {
    transition: transform 0.3s ease-in-out;
    position: fixed;
}
.header--fixed.slideUp.not-top {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
}
.header--fixed.slideUp.top {
    transform: translateY(-100%);
    position: absolute;
}