@import "base/variables";
@import "base/fonts";
@import "base/base";
@import "base/layout";


@import "components/navbar";
@import "components/header";
@import "components/blogs";
@import "components/featured-blog";
@import "components/slickOverrides";
@import "components/blogs-carousel.scss";
@import "components/footer";
@import "components/logo";